.header {
  background-color: #70c5d4;
  padding: 12px 0;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.logo {
  display: block;
  justify-content: center;
  padding: center;
}

.lista-nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista-nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: Arial, sans-serif;
}